.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: rgba(115, 111, 111, 0.48);
    width: 100%;
    z-index: 999;
}

.header_navigation {
    display: contents;
}

.navbar-brand {
    padding: 0 20px;
}

.responsive-navbar-nav {
    display: flex;
    align-items: center;
    margin-right: -24px;
}

.responsive-navbar-nav span {
    font-family: 'Prata', serif;
    font-size: 20px;
}

.nav_items {
    padding: 10px 15px;
    display: flex;
}

.buttonPersonalArea {
    margin-left: 30px;
    margin-right: 30px;
}

.main-block {
    background-size: cover;
    /*background: url("./images/BG.png") no-repeat fixed center center;*/
    height: 100vh;
}

.main-middle-text {
    font-family: Montserrat;
    color: #ffffff;
    display: block;
    position: relative;
    top: calc(50% - 124px);
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.main-middle-text h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 134.09%;
    letter-spacing: 0.02em;
}

.main-middle-text h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
}


.about-block {
    /*background: url("./images/bg_about_us.svg") no-repeat center center, linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5));*/
    display: grid;
    position: relative;
    background-color: white;
    height: 180vh;
}

.styleImg {
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.about_company {
    font-family: 'Roboto Slab', serif;
    color: #0d0d0d;
    vertical-align: top;
    padding: 30% 0 0 20%;
}

.about_company_textBlock {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 55%;
}

.about_company_textBlock h2 {
    font-size: 34px;
}

.projectStyle {
    background: rgb(42,19,59);
    background: linear-gradient(15deg, rgba(42,19,59,1) 50%, rgba(122,16,118,1) 100%);
    background-size: cover;
    /*height: 100vh;*/
    padding-top: 100px;
    color: white;
    text-shadow: 2px 2px 2px #0d0d0d;
}

.projectBlock {
    background-size: cover;
    text-align: center;
    height: 140vh;
    padding-top: 100px;
    color: white;
}
.wrap {
    background-color: #331e58;
    box-shadow: 0 6px 23px -2px rgb(0 0 0.5);
    margin-bottom: 10%;
    /*border: 2px solid #000;*/
    border-radius: 15px;
    height: 80vh;
    max-width: 90%;
}
.wrap img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.aboutProject {
    margin-top: 5%;
    text-align: center;

}

.risks {
    background: rgb(42,19,59);
    background: linear-gradient(15deg, rgba(42,19,59,1) 50%, rgba(122,16,118,1) 100%);
    background-size: cover;
    text-align: center;
    height: 130vh;
    padding-top: 100px;
    color: white;
    text-shadow: 2px 2px 2px #0d0d0d;
}
.risks img {
    box-shadow: 0 6px 60px -2px rgb(0 0 0.5);
    border-radius: 15px;
}

.guarantees {
    background: rgb(42,19,59);
    background: linear-gradient(15deg, rgba(42,19,59,1) 50%, rgba(122,16,118,1) 100%);
    text-align: center;
    height: 120vh;
    padding-top: 100px;
    color: white;
}
.guaranteesText {
    margin-top: 20%;
    color: #e9b370;
}

.guaranteesItem {
    border-right: 1px solid #a09a9c;
    padding: 0 2em;
}

.buttonS {
    margin: 15px 0 15px 0;
}

.contactBlock {
    background: rgb(42,19,59);
    background: linear-gradient(15deg, rgba(42,19,59,1) 50%, rgba(122,16,118,1) 100%);
    color: #ffffff;
    text-align: center;
    height: 130vh;
    padding-top: 100px;
}

.registrationPage {
    background: rgb(42,19,59);
    background: linear-gradient(15deg, rgba(42,19,59,1) 50%, rgba(122,16,118,1) 100%);
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.formBlock {
    padding-top: 10%;
    position: relative;
    background-size: cover;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg") no-repeat center center;
    height: 40vh;
    text-align: center;
}

.formBlockText {
    justify-content: center;
}

.formBlock h3 {
    font-family: 'Open Sans', sans-serif;
    color: #0d0d0d;
    margin-bottom: 1%;
}

.styleFooter{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.00);
    box-shadow: inset 0 67px 120px -100px #666666;
    position: fixed;
    bottom: 0;
    z-index:-999;
}

.footerFlexed {
    background-color: #110d0e;
    padding-top: 90px;
    padding-bottom: 90px;
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #ffffff;
}
.styleIcons {
    display: flex;
    align-items: center;
    padding: 12px 15px 10px 15px;
    color: #e9b370;
}

.site-copy {
    background: #1b0d1c;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 10vh;
}

/*Mobile styles*/
@media only screen and (max-width: 991px) {
    .Header {
        padding: 0;
        z-index: 999;
    }

    .header_navigation {
        width: 100%;
        height: 100%;
        background: #0d0d0d;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .logo {
        z-index: 999;
    }

    .mobileIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 18%);
    }

    .nav_items {
        display: block;
    }

    .responsive-navbar-nav {
        margin-right: 0;
        padding: 0;
        margin-top: 0;
    }

    .responsive-navbar-nav span {
        font-family: 'Prata', serif;
        font-size: 20px;
    }

    .buttonPersonalArea {
        margin-left: 0;
        margin-right: 20px;
    }

    .about-block {
        height: 100%;
    }

    .risks {
        height: 100%
    }

}

@media only screen and (max-width: 555px) {
    .main-middle-text h5 {
        font-size: 3vw;
    }

    .main-middle-text h1 {
        font-size: 6vw;
    }

    .about_company h1 {
        font-size: 19px;
    }
}

/*Styles for scroll*/
